.env
node_modules
C:\Users\sonya\OneDrive\Desktop\Projects\Future-e\backend\futur-e-docs-firebase-adminsdk-fbsvc-173d97da41.json
futur-e-docs-firebase-adminsdk-fbsvc-173d97da41.json
futur-e-docs-firebase-adminsdk-fbsvc-173d97da41.json
futur-e-firebase-adminsdk-fbsvc-4f1e481bfe.json